<!DOCTYPE html>
<html lang="vi">

<head>
	<!-- Primary Meta Tags -->
	<title>Yomedia — Ad Preview</title>
	<meta name="title" content="Yomedia — Ad Preview">
	<meta name="description" content="Advertisement format demo template">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://demo.yomedia.vn/">
	<meta property="og:title" content="Yomedia — Ad Preview">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://demo.yomedia.vn/">
	<meta property="twitter:title" content="Yomedia — Ad Preview">
	<meta name=theme-color content=#069241>
	
	<meta charset="utf-8">
	<meta http-equiv="x-dns-prefetch-control" content="on">

  <meta property="og:title" content="Yomedia Ad Preview"/> 
  <meta property="og:description" content ="Template Demo"/> 

	<link href="../../resources/images/favicon.ico" type="image/x-icon" rel="shortcut icon" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="audience" content="General">
	<meta http-equiv="content-language" content="vi" />
	<meta name="revisit-after" content="1 days">
	<link type="text/css" rel="stylesheet" href="vendor/cdnweb.dantri/bundle/static/dantri.min.css" data-href="vendor/bundle/static/dantri.min.css">
	<link type="text/css" rel="stylesheet" href="vendor/cdnweb.dantri/bundle/static/css-comment3.6.css" data-href="vendor/bundle/static/dantri.min.css">
	<link type="text/css" rel="stylesheet" href="vendor/cdnweb.dantri/bundle/static/d-video-lib.min.css" data-href="vendor/bundle/static/dantri.min.css">
	<link href="vendor/fonts.googleapis.com/css_family.css" rel="stylesheet" />
</head>

<body class="articlev2  dtv2 " data-isrc="articlev2" xds-provider="">
	<header class="dt-header">
		<div class="dt-header___content">
			<div class="container">
				<div class="dt-header__logo">
					<a title="Báo điện tử Dân trí - Tin tức cập nhật liên tục 24/7"> <img src="vendor/cdnweb.dantri/bundle/static/assets/logotetam-04.png" alt="Báo điện tử Dân trí - Tin tức cập nhật liên tục 24/7"> </a>
				</div>
				<div id="xds-2"></div>
				<form class="search-box">
					<input type="text" class="form-control search-box__input" name="s" placeholder="Tìm kiếm tin tức" autocomplete="off">
					<button class="btn search-box__btn"> <i class="dt-icon icon-search"></i> </button>
				</form>
			</div>
		</div>
		<nav class="site-menu">
			<div class="container">
				<ol class="site-menu__list list-unstyled">
					<li class="home">
						<a title="Trang chủ" href=""> <i class="dt-icon icon-home"></i> </a>
					</li>
					<li class="dropdown dropdown--hover"> <a data-utm="Article|MenuMain|1" data-cat-id="0" class="" href="">Video</a> </li>
					<li class="dropdown dropdown--hover"> <a data-utm="Article|MenuMain|2" data-cat-id="728" class="" title="Tin tức sự kiện nóng mới nhất, cập nhật liên tục" href="">Sự kiện</a> </li>
					<li class="dropdown dropdown--hover"> <a data-utm="Article|MenuMain|3" data-cat-id="20" class="" title="Xã hội  - Tin tức đa dạng về xã hội, gia đình, du lịch, mẹo vặt cuộc sống" href="">Xã hội</a>
						<div class="dropdown__content">
							<ol class="site-menu__dropdown site-menu__dropdown--single">
								<li> <a data-utm="Article|MenuCate|1" title="Chính trị" href="">Chính trị</a> </li>
								<li> <a data-utm="Article|MenuCate|2" title="Phóng sự-Ký sự" href="">Phóng sự-Ký sự</a> </li>
								<li> <a data-utm="Article|MenuCate|3" title="Môi trường" href="">Môi trường</a> </li>
								<li> <a data-utm="Article|MenuCate|4" title="Giao thông" href="">Giao thông</a> </li>
								<li> <a data-utm="Article|MenuCate|5" title="Hồ sơ" href="">Hồ sơ</a> </li>
							</ol>
						</div>
					</li>
					<li class="dropdown dropdown--hover"> <a data-utm="Article|MenuMain|4" data-cat-id="36" class="" title="Tin tức thế giới 24h - Kinh tế, An ninh quân sự thế giới" href="">Thế giới</a>
						<div class="dropdown__content">
							<ol class="site-menu__dropdown site-menu__dropdown--single">
								<li> <a data-utm="Article|MenuCate|1" title="Châu Á" href="">Châu Á</a> </li>
								<li> <a data-utm="Article|MenuCate|2" title="EU &amp; Nga" href="">EU &amp; Nga</a> </li>
								<li> <a data-utm="Article|MenuCate|3" title="Châu Mỹ" href="">Châu Mỹ</a> </li>
								<li> <a data-utm="Article|MenuCate|4" title="Điểm nóng" href="">Điểm nóng</a> </li>
								<li> <a data-utm="Article|MenuCate|5" title="Tư liệu" href="">Tư liệu</a> </li>
								<li> <a data-utm="Article|MenuCate|6" title="Kiều bào" href="">Kiều bào</a> </li>
							</ol>
						</div>
					</li>
					<li class="dropdown dropdown--hover"> <a data-utm="Article|MenuMain|5" data-cat-id="26" title="Tin tức thể thao 24h, lịch thi đấu, kết quả, video clip" href="">Thể thao</a>
						<div class="dropdown__content">
							<ol class="site-menu__dropdown site-menu__dropdown--single">
								<li> <a data-utm="Article|MenuCate|1" title="Bóng đá trong nước" href="">Bóng đá trong nước</a> </li>
								<li> <a data-utm="Article|MenuCate|2" title="Bóng đá Châu Âu" href="">Bóng đá Châu Âu</a> </li>
								<li> <a data-utm="Article|MenuCate|3" title="Võ thuật" href="">Võ thuật</a> </li>
								<li> <a data-utm="Article|MenuCate|4" title="Tennis" href="">Tennis</a> </li>
								<li> <a data-utm="Article|MenuCate|5" title="Các môn Thể thao khác" href="">Các môn Thể thao khác</a> </li>
								<li> <a data-utm="Article|MenuCate|6" title="Hậu trường" href="">Hậu trường</a> </li>
							</ol>
						</div>
					</li>
					<li class="dropdown dropdown--hover"> <a data-utm="Article|MenuMain|6" data-cat-id="133" class="" title="Tin tức An sinh xã hội, thông tin đào tạo việc làm" href="">Việc làm</a>
						<div class="dropdown__content">
							<ol class="site-menu__dropdown site-menu__dropdown--single">
								<li> <a data-utm="Article|MenuCate|1" title="Chính sách" href="">Chính sách</a> </li>
								<li> <a data-utm="Article|MenuCate|2" title="Việc làm" href="">Việc làm</a> </li>
								<li> <a data-utm="Article|MenuCate|3" title="Đào tạo" href="">Đào tạo</a> </li>
								<li> <a data-utm="Article|MenuCate|4" title="Gói an sinh 62.000 tỷ đồng" href="">Gói an sinh 62.000 tỷ đồng</a> </li>
								<li> <a data-utm="Article|MenuCate|5" title="Xuất khẩu lao động" href="">Xuất khẩu lao động</a> </li>
								<li> <a data-utm="Article|MenuCate|6" title="Chúng tôi nói" href="">Chúng tôi nói</a> </li>
							</ol>
						</div>
					</li>
					<li class="dropdown dropdown--hover"> <a data-utm="Article|MenuMain|7" data-cat-id="7" class="" title="Sức khỏe: Cẩm nang chăm sóc sức khỏe gia đình, cách Phòng Bệnh" href="">Sức khỏe</a>
						<div class="dropdown__content">
							<ol class="site-menu__dropdown site-menu__dropdown--single">
								<li> <a data-utm="Article|MenuCate|1" title="Ung thư" href="">Ung thư</a> </li>
								<li> <a data-utm="Article|MenuCate|2" title="Kiến thức giới tính" href="">Kiến thức giới tính</a> </li>
								<li> <a data-utm="Article|MenuCate|3" title="Bệnh Gan" href="">Bệnh Gan</a> </li>
								<li> <a data-utm="Article|MenuCate|4" title="Tư vấn" href="">Tư vấn</a> </li>
								<li> <a data-utm="Article|MenuCate|5" title="Làm đẹp" href="">Làm đẹp</a> </li>
								<li> <a data-utm="Article|MenuCate|6" title="Ngày Thầy thuốc Việt Nam" href="">Ngày Thầy thuốc Việt Nam</a> </li>
								<li> <a data-utm="Article|MenuCate|7" title="Đại dịch Covid-19" href="">Đại dịch Covid-19</a> </li>
							</ol>
						</div>
					</li>
					<li class="dropdown dropdown--hover"> <a data-utm="Article|MenuMain|8" data-cat-id="167" class="" title="Những số phận không may mắn và Tấm lòng nhân ái" href="">Nhân ái</a>
						<div class="dropdown__content">
							<ol class="site-menu__dropdown site-menu__dropdown--single">
								<li> <a data-utm="Article|MenuCate|1" title="Danh sách ủng hộ" href="">Danh sách ủng hộ</a> </li>
								<li> <a data-utm="Article|MenuCate|2" title="Danh sách kết chuyển" href="">Danh sách kết chuyển</a> </li>
								<li> <a data-utm="Article|MenuCate|3" title="Hoàn cảnh" href="">Hoàn cảnh</a> </li>
							</ol>
						</div>
					</li>
					<li class="dropdown dropdown--hover"> <a data-utm="Article|MenuMain|9" data-cat-id="76" class="" title="Tin kinh doanh: Thị trường, tài chính, kinh tế, doanh nghiệp" href="">Kinh doanh</a>
						<div class="dropdown__content">
							<ol class="site-menu__dropdown site-menu__dropdown--single">
								<li> <a data-utm="Article|MenuCate|1" title="Tài chính - Đầu tư" href="">Tài chính - Đầu tư</a> </li>
								<li> <a data-utm="Article|MenuCate|2" title="Thị trường" href="">Thị trường</a> </li>
								<li> <a data-utm="Article|MenuCate|3" title="Doanh nghiệp" href="">Doanh nghiệp</a> </li>
								<li> <a data-utm="Article|MenuCate|4" title="Khởi nghiệp" href="">Khởi nghiệp</a> </li>
								<li> <a data-utm="Article|MenuCate|5" title="Bảo vệ NTD" href="">Bảo vệ NTD</a> </li>
								<li> <a data-utm="Article|MenuCate|6" title="Bảo hiểm" href="">Bảo hiểm</a> </li>
								<li> <a data-utm="Article|MenuCate|7" title="Quốc tế" href="">Quốc tế</a> </li>
								<li> <a data-utm="Article|MenuCate|8" title="Nhà đất" href="">Nhà đất</a> </li>
							</ol>
						</div>
					</li>
					<li class="dropdown dropdown--hover"> <a data-utm="Article|MenuMain|10" data-cat-id="927" class="" title="Tin tức thị trường bất động sản, nhà đất, dự án mới" href="">Bất động sản</a>
						<div class="dropdown__content">
							<ol class="site-menu__dropdown site-menu__dropdown--single">
								<li> <a data-utm="Article|MenuCate|1" title="Dự án" href="">Dự án</a> </li>
								<li> <a data-utm="Article|MenuCate|2" title="Thị trường" href="">Thị trường</a> </li>
								<li> <a data-utm="Article|MenuCate|3" title="Nhịp sống đô thị" href="">Nhịp sống đô thị</a> </li>
								<li> <a data-utm="Article|MenuCate|4" title="Sống xanh" href="">Sống xanh</a> </li>
								<li> <a data-utm="Article|MenuCate|5" title="Sắc màu Nhật Bản" href="">Sắc màu Nhật Bản</a> </li>
							</ol>
						</div>
					</li>
					<li class="dropdown dropdown--hover"> <a data-utm="Article|MenuMain|11" data-cat-id="111" class="" title="Ô tô xe máy | Thông tin thị trường oto xe máy, giá mua bán xe" href="">Xe &#x2B;&#x2B;</a>
						<div class="dropdown__content">
							<ol class="site-menu__dropdown site-menu__dropdown--single">
								<li> <a data-utm="Article|MenuCate|1" title="Thị trường xe" href="">Thị trường xe</a> </li>
								<li> <a data-utm="Article|MenuCate|2" title="Bảng giá ô tô" href="">Bảng giá ô tô</a> </li>
								<li> <a data-utm="Article|MenuCate|3" title="Văn hoá xe" href="">Văn hoá xe</a> </li>
								<li> <a data-utm="Article|MenuCate|4" title="Tư vấn xe" href="">Tư vấn xe</a> </li>
								<li> <a data-utm="Article|MenuCate|5" title="Đua xe" href="">Đua xe</a> </li>
								<li> <a data-utm="Article|MenuCate|6" title="Giá xe" href="">Giá xe</a> </li>
							</ol>
						</div>
					</li>
					<li class="dropdown dropdown--hover"> <a data-utm="Article|MenuMain|12" data-cat-id="119" class="" title="Sức mạnh số - Tin khoa học công nghệ kỹ thuật mới nhất, nghiên cứu ứng dụng" href="">Sức mạnh số</a>
						<div class="dropdown__content">
							<ol class="site-menu__dropdown site-menu__dropdown--single">
								<li> <a data-utm="Article|MenuCate|1" title="Máy tính - Mạng" href="">Máy tính - Mạng</a> </li>
								<li> <a data-utm="Article|MenuCate|2" title="Di động - Viễn thông" href="">Di động - Viễn thông</a> </li>
								<li> <a data-utm="Article|MenuCate|3" title="Điện tử tiêu dùng" href="">Điện tử tiêu dùng</a> </li>
								<li> <a data-utm="Article|MenuCate|4" title="Nghe nhìn" href="">Nghe nhìn</a> </li>
								<li> <a data-utm="Article|MenuCate|5" title="Phần mềm - Bảo mật" href="">Phần mềm - Bảo mật</a> </li>
								<li> <a data-utm="Article|MenuCate|6" title="Thủ thuật - Mẹo vặt" href="">Thủ thuật - Mẹo vặt</a> </li>
								<li> <a data-utm="Article|MenuCate|7" title="Thị trường công nghệ" href="">Thị trường công nghệ</a> </li>
							</ol>
						</div>
					</li>
					<li class="dropdown dropdown--hover"> <a data-utm="Article|MenuMain|13" data-cat-id="25" class="" title="Giáo dục - Thông tin tuyển sinh, du học mới nhất" href="">Giáo dục</a>
						<div class="dropdown__content">
							<ol class="site-menu__dropdown site-menu__dropdown--single">
								<li> <a data-utm="Article|MenuCate|1" title="Tin tuyển sinh" href="">Tin tuyển sinh</a> </li>
								<li> <a data-utm="Article|MenuCate|2" title="Khuyến học" href="">Khuyến học</a> </li>
								<li> <a data-utm="Article|MenuCate|3" title="Gương sáng" href="">Gương sáng</a> </li>
								<li> <a data-utm="Article|MenuCate|4" title="Giáo dục - Nghề nghiệp" href="">Giáo dục - Nghề nghiệp</a> </li>
							</ol>
						</div>
					</li>
					<li class="dropdown dropdown--hover"> <a data-utm="Article|MenuMain|14" data-cat-id="730" class="" href="">Văn hóa</a>
						<div class="dropdown__content">
							<ol class="site-menu__dropdown site-menu__dropdown--single">
								<li> <a data-utm="Article|MenuCate|1" title="Đời sống văn hóa" href="">Đời sống văn hóa</a> </li>
								<li> <a data-utm="Article|MenuCate|2" title="Điện ảnh" href="">Điện ảnh</a> </li>
								<li> <a data-utm="Article|MenuCate|3" title="Âm nhạc" href="">Âm nhạc</a> </li>
								<li> <a data-utm="Article|MenuCate|4" title="Văn học" href="">Văn học</a> </li>
								<li> <a data-utm="Article|MenuCate|5" title="Sân khấu - Dân gian" href="">Sân khấu - Dân gian</a> </li>
								<li> <a data-utm="Article|MenuCate|6" title="Hạt giống tâm hồn" href="">Hạt giống tâm hồn</a> </li>
								<li> <a data-utm="Article|MenuCate|7" title="Hương vị Việt" href="">Hương vị Việt</a> </li>
								<li> <a data-utm="Article|MenuCate|8" title="Tết Đoàn Viên" href="h">Tết Đoàn Viên</a> </li>
							</ol>
						</div>
					</li>
					<li class="dropdown dropdown--hover"> <a data-utm="Article|MenuMain|15" data-cat-id="23" class="" title="Tin tức giải trí mới nhất 24h | showbiz  sao việt và thế giới" href="">Giải trí</a>
						<div class="dropdown__content">
							<ol class="site-menu__dropdown site-menu__dropdown--single">
								<li> <a data-utm="Article|MenuCate|1" title="Sao Việt" href="">Sao Việt</a> </li>
								<li> <a data-utm="Article|MenuCate|2" title="Hollywood" href="">Hollywood</a> </li>
								<li> <a data-utm="Article|MenuCate|3" title="Châu Á" href="">Châu Á</a> </li>
								<li> <a data-utm="Article|MenuCate|4" title="Thời trang" href="">Thời trang</a> </li>
								<li> <a data-utm="Article|MenuCate|5" title="Xem - Ăn - Chơi" href="">Xem - Ăn - Chơi</a> </li>
							</ol>
						</div>
					</li>
					<li class="dropdown dropdown--hover"> <a data-utm="Article|MenuMain|16" data-cat-id="835" class="" href="">Du Lịch</a>
						<div class="dropdown__content">
							<ol class="site-menu__dropdown site-menu__dropdown--single">
								<li> <a data-utm="Article|MenuCate|1" title="Tin tức" href="">Tin tức</a> </li>
								<li> <a data-utm="Article|MenuCate|2" title="Khám phá" href="">Khám phá</a> </li>
								<li> <a data-utm="Article|MenuCate|3" title="Món ngon - Điểm đẹp" href="">Món ngon - Điểm đẹp</a> </li>
								<li> <a data-utm="Article|MenuCate|4" title="Tour hay - Khuyến mại" href="">Tour hay - Khuyến mại</a> </li>
								<li> <a data-utm="Article|MenuCate|5" title="Video - Ảnh" href="">Video - Ảnh</a> </li>
							</ol>
						</div>
					</li>
					<li class="dropdown dropdown--hover"> <a data-utm="Article|MenuMain|17" data-cat-id="170" class="" title="Tin tức pháp luật 24h, vụ án, hình sự" href="">Pháp luật</a> </li>
					<li class="dropdown dropdown--hover dropdown--right"> <a data-utm="Article|MenuMain|18" data-cat-id="135" class="" title="Nhịp sống trẻ, khởi nghiệp, giáo dục cộng đồng" href="">Nhịp sống trẻ</a>
						<div class="dropdown__content">
							<ol class="site-menu__dropdown site-menu__dropdown--single">
								<li> <a data-utm="Article|MenuCate|1" title="Người Việt trẻ" href="">Người Việt trẻ</a> </li>
								<li> <a data-utm="Article|MenuCate|2" title="Teen đẹp" href="">Teen đẹp</a> </li>
								<li> <a data-utm="Article|MenuCate|3" title="Phóng sự trẻ" href="">Phóng sự trẻ</a> </li>
							</ol>
						</div>
					</li>
					<li class="others dropdown dropdown--hover dropdown--right" id="site-dropdown">
						<a id="site-dropdown-button" href="javascript:;"> <span class="bars"></span> </a>
						<div class="dropdown__content" id="site-dropdown__content">
							<ol class="site-menu__dropdown">
								<li> <a data-utm="Article|Main_Menu|19" title="Khoa học" href="">
                                        Khoa học</a> </li>
								<li> <a data-utm="Article|Main_Menu|20" title="Blog" href="">
                                        Blog</a> </li>
								<li> <a data-utm="Article|Main_Menu|21" title="Du học" href=">
                                        Du học</a>
                                </li>
                                <li>
                                    <a data-utm=" Article|Main_Menu|22 " title="Tuyển sinh " href=" ">
                                        Tuyển sinh</a>
                                </li>
                                <li>
                                    <a data-utm="Article|Main_Menu|23 " title="Fica " href=" ">
                                        Fica</a>
                                </li>
                                <li>
                                    <a data-utm="Article|Main_Menu|24 " title="Bạn đọc " href=" ">
                                        Bạn đọc</a>
                                </li>
                                <li>
                                    <a data-utm="Article|Main_Menu|25 " title="Đời sống " href=" ">
                                        Đời sống</a>
                                </li>
                                <li>
                                    <a data-utm="Article|Main_Menu|26 " title="Chuyện lạ " href=" ">
                                        Chuyện lạ</a>
                                </li>
                                <li>
                                    <a data-utm="Article|Main_Menu|27 " title="Diễn đàn " href=" ">
                                        Diễn đàn</a>
                                </li>
                                <li>
                                    <a data-utm="Article|Main_Menu|28 " title="English " href=" ">
                                        English</a>
                                </li>
                                <li>
                                    <a data-utm="Article|Main_Menu|29 " title="Tình yêu " href=" ">
                                        Tình yêu</a>
                                </li>
                                <li>
                                    <a data-utm="Article|Main_Menu|30 " title="An sinh " href=" ">
                                        An sinh</a>
                                </li>
                        </ol>
                    </div>
                  </li>
        </ol>
    </div>
</nav>
                <div class="dt-top-banner ">
                  <div id="ads-billboard">
                  
                  </div>
                <!-- Billboard Placement -->
                </div>

</header>
<main class="dt-main ">
    
  <div class="container clearfix " data-top-height-container data-sticky-container=" " news-type="0 ">
    <div class="col col--main " top-height="left ">
      <article class="dt-news__detail ">
        <div class="dt-news__header ">
            <ul class="dt-breadcrumb ">
              <li>
                <a title="Dân Trí " href=" ">Dân Trí</a>
              </li>
                <li>
                  <a title="Thể thao " href=" ">Thể thao</a>
                </li>
                <li>
                  <a title="Bóng đá Châu Âu " href=" ">Bóng đá Châu Âu</a>
                </li>
            </ul>
          <div class="dt-news__meta ">
            <span class="dt-news__time ">Thứ hai, 01/03/2021 - 14:53</span>
          </div>
        </div>
        
      
          <h1 class="dt-news__title ">
            Tiết lộ gây sốc về việc Man Utd bị từ chối quả phạt đền
          </h1>
          <div class="dt-news__audio fl-center ">
            <div class="dt-audio "><div class="dta-main "><a href="javascript:void(0); " class="aud-btn "><div class="icon40 play "></div></a><a href="javascript:void(0); " class="aud-btn hidden "><div class="icon40 pause "></div></a><div class="dt-graph prel "><div class="aud-text ">0:00/0:00</div><div class="aud-bg "><div class="seek " style="width:0; "></div></div></div><a class="aud-btn speech doc-tiep " href="javascript:void(0); "><span class="doc-tiep-img "></span></a><div class="speech-section "><a class="speech-section-initial " href="javascript:void(0); "><div class="spico speech-female "></div><div class="speech-section-initial-description ">Phía Bắc</div><div class="arrow-down "></div></a></div></div></div>
          </div>

        <div class="clearfix " data-sticky-container=" ">
            <ul class="dt-news__social " data-margin-top="52 " data-margin-bottom="16 ">
              <li>
                <div fb-btn type="share " id="20210301132142908 "></div>
              </li>
              <li>
                <div zalo-btn data-id="20210301132142908 "></div>
              </li>
              <li>
                <a title="In " class="dt-social__item " href=" ">
                  <i class="dt-icon icon-print "></i>
                </a>
              </li>
              <li>
                <a title="Bình luận " class="dt-social__item dt-social__item--primary ">
                  <i class="dt-icon icon-comment "></i>
                </a>
              </li>
            </ul>

          <div class="dt-news__body ">
                <div class="dt-news__sapo ">
                  <span>Dân trí</span><h2> Theo tiết lộ của Luke Shaw, những trọng tài ở phòng VAR đã đồng ý cho Man Utd hưởng phạt đền nhưng trọng tài chính Stuart Attwell lại từ chối.</h2>
                </div>
              <div class="dt-news__content ">
                <p>Đêm qua, Man Utd và Chelsea đã hòa nhau với tỷ số 0-0 trong trận cầu đinh ở vòng 26 Premier League. Tình huống đáng chú ý ở trận đấu này là việc trọng tài Stuart Attwell từ chối quả phạt đền cho Man Utd trong tình huống Callum Hudson-Odoi được cho là đã để bóng chạm tay trong vòng cấm.</p>
<figure class="image align-center " contenteditable="false ">
	<div id="ads-on-image"></div>
	<img title="Tiết lộ gây sốc về việc Man Utd bị từ chối quả phạt đền - 1 " src="vendor/icdn.dantri.com.vn/thumb_w/640/2021/03/01/getty-images-1304558223-1614579566939.jpg " alt="Tiết lộ gây sốc về việc Man Utd bị từ chối quả phạt đền - 1 " data-width="540 " data-height="369 " data-original="vendor/icdn.dantri.com.vn/thumb_w/640/2021/03/01/getty-images-1304558223-1614579566939.jpg " data-photo-id="1279283 ">
<figcaption>
<p>Bóng đã chạm vào tay của Callum Hudson-Odoi trong tình huống tranh chấp với Greenwood&nbsp;</p>
</figcaption>
</figure>
<p>Pha quay chậm đã cho thấy rõ điều này. Mặc dù vậy, sau khi tham khảo ý kiến từ các trọng tài phòng VAR và đồng thời trực tiếp ra xem video, trọng tài chính Stuart Attwell đã từ chối quả phạt đền cho Man Utd.</p>
<p>Quyết định của trọng tài Stuart Attwell đã vấp phải sự phản đối dữ dội sau trận đấu. Không những vậy, theo tiết lộ của Luke Shaw, những trọng tài ở phòng VAR đã đồng ý cho Man Utd hưởng phạt đền nhưng trọng tài chính Stuart Attwell lại từ chối.</p>
<div id="ads-outstream"></div>
<p>Ngôi sao của Man Utd chia sẻ trên tờ Sky Sports: "<em>Dường như tôi đã nhìn thấy bóng đã chạm tay một ai đó trong tình huống ấy. Tôi chỉ không rõ là Mason Greenwood hay Callum Hudson-Odoi.</em>
									</p>
									<p><em>Tôi vẫn tiếp tục thi đấu và thậm chí không nghĩ tới việc trọng tài dừng trận đấu để kiểm tra tình huống. Tôi cũng không hiểu vì sao trọng tài yêu cầu dừng trận đấu nếu đó không phải là một quả phạt đền. Nếu đó không phải là án phạt cho Chelsea thì tôi nghĩ họ chẳng việc vì làm điều đó.</em></p>
									<figure class="image align-center" contenteditable="false"><img title="Tiết lộ gây sốc về việc Man Utd bị từ chối quả phạt đền - 2" src="vendor/icdn.dantri.com.vn/thumb_w/640/2021/03/01/getty-images-1304558419-1614579603122.jpg" alt="Tiết lộ gây sốc về việc Man Utd bị từ chối quả phạt đền - 2" data-width="540" data-height="359" data-original="icdn.dantri.com.vn/2021/03/01/getty-images-1304558419-1614579603122.jpg" data-photo-id="1279284">
										<figcaption>
											<p>Mặc dù các trọng tài ở phòng VAR đã đồng ý là quả phạt đền cho Man Utd nhưng trọng tài chính Stuart Attwell vẫn từ chối sau khi xem lại video</p>
										</figcaption>
									</figure>
									<p><em>Trọng tài đã trao đổi với Harry Maguire. Tôi nghe cậu ấy thuật lại lời của trọng tài: "Nếu tôi cho các cậu (Man Utd) được hưởng quả phạt đền thì sẽ có rất nhiều tranh cãi sau trận đấu". Harry Maguire thậm chí còn nói rằng các trọng tài phòng VAR đã đồng ý rằng đó là quả phạt đền.</em></p>
									<p><em>Dù sao, tôi không than vãn về quả phạt đền này. Tôi cho rằng không có đội nào xứng đáng giành chiến thắng trong trận đấu hôm nay".</em></p>
									<div id="ads-3d-post-carousel"></div>
									<p>Rất nhiều những chuyên gia đã đồng ý với quan điểm rằng Man Utd xứng đáng hưởng phạt đền trong tình huống đó. Cựu danh thủ Gary Lineker cho biết: "<em>Tôi không thích quy định liên quan tới việc bóng chạm tay ở thời điểm này. Tuy nhiên, nếu chiếu theo luật thì Man Utd xứng đáng được hưởng phạt đền".</em></p>
									<p>Gary Neville bức xúc: "<em>Tôi thấy rõ ràng đó là một quả phạt đền. Bóng chạm tay Hudson-Odoi rõ ràng quá rồi. Tất cả đều nhìn thấy chỉ có trọng tài chính là không".</em></p>
									<p>Roy Keane khẳng định: "<em>Ở bất kỳ góc máy quay nào thì chúng ta cũng thấy bóng chạm tay của Hudson-Odoi. Ai cũng nghĩ tới quả phạt đền cho Man Utd, chỉ riêng trọng tài lại từ chối. Chelsea đã được hưởng lợi nhờ quyết định ấy".</em></p>
									<p style="text-align: right;"><strong>H.Long</strong></p>
									<div id="xds-160"></div>
									<div id="xds-155"></div>
						</div>
						<div id="xds-151"></div>
						<div data-tin-lien-quan></div>
						<div id="tin-lien-quan">
							<section class="dt-section dt-section--simple mt-3">
								<header class="dt-section__header">
									<h2 class="dt-section__title">Tin liên quan</h2> </header>
								<div class="dt-section__body">
									<ul class="dt-news__links">
										<li>
											<h3 class="dt-news__link">
                  <a data-utm="Article|Box_TinLienQuan|1" title="HLV Solskjaer tố Chelsea &quot;chơi bẩn&quot; khiến Man Utd mất oan quả phạt đền" href="">HLV Solskjaer tố Chelsea "chơi bẩn" khiến Man Utd mất oan quả phạt đền</a>
                  </h3> </li>
										<li>
											<h3 class="dt-news__link">
                  <a data-utm="Article|Box_TinLienQuan|2" title="Man Utd mất oan một quả phạt đền trước Chelsea?" href="">Man Utd mất oan một quả phạt đền trước Chelsea?</a>
                  </h3> </li>
										<li>
											<h3 class="dt-news__link">
                  <a data-utm="Article|Box_TinLienQuan|3" title="Chia điểm với Chelsea, Man Utd kém Man City 12 điểm" href="">Chia điểm với Chelsea, Man Utd kém Man City 12 điểm</a>
                  </h3> </li>
										<li>
											<h3 class="dt-news__link">
                  <a data-utm="Article|Box_TinLienQuan|4" title="Chelsea 0-0 Man Utd: Chia điểm gây thất vọng" href="">Chelsea 0-0 Man Utd: Chia điểm gây thất vọng</a>
                  </h3> </li>
									</ul>
								</div>
							</section>
						</div>
						<div id="xds-20000"></div>
						<div data-dong-du-kien></div>
						<div id="dong-du-kien"> </div>
						<div class="dt-news__tags">
							<div class="dt-news__tag-label">Từ khóa:</div>
							<ul class="dt-news__tag-list">
								<li>
									<h4 class="dt-news__tag">
                  <a data-utm="Tag_HudsonOdoi|Box_Tag|1" title="Hudson-Odoi" href="">Hudson-Odoi</a>
                </h4> </li>
								<li>
									<h4 class="dt-news__tag">
                  <a data-utm="Tag_ManUtd|Box_Tag|2" title="man utd" href="">man utd</a>
                </h4> </li>
								<li>
									<h4 class="dt-news__tag">
                  <a data-utm="Tag_Chelsea|Box_Tag|3" title="chelsea" href="">chelsea</a>
                </h4> </li>
								<li>
									<h4 class="dt-news__tag">
                  <a data-utm="Tag_PremierLeague|Box_Tag|4" title="premier league" href="">premier league</a>
                </h4> </li>
							</ul>
						</div>
						<div id="xds-152"></div>
						<div class="dt-news__comment" id="dt-news__comment">
							<div class="clearfix box-comment box-leavecomment" data-type="box-comment" data-parentid="0">
								<div class="comment-bar clearfix">
									<p class="dantri-label fl">DÂN TRÍ <sup class="sub">ID</sup></p>
									<div class="comment-acc user-action fr"> <a data-type="button-login" onclick="login(this);">Đăng nhập</a> | <a data-type="button-register" onclick="register(this);">Đăng ký</a>
										<a class="help" onclick="showHelp(this);"> <img src="https://comment.dantri.com.vn/images/comment-helper-sz18.png"> </a>
									</div>
									<div class="comment-acc user-info fr"><b data-type="user-name"></b>&nbsp;|&nbsp;<a onclick="javascript:logout();">Thoát</a> </div>
									<div style="display:none" id="user-email"></div>
								</div>
								<div class="form" data-type="comment-form" data-parentid="0">
									<div class="inner">
										<textarea data-type="comment-content" placeholder="Nội dung bình luận"></textarea>
										<div class="action clearfix"> <a class="btnSend" data-type="button-send" onclick="doComment(this);">Gửi bình luận</a> <span id="spanCommentCount" class="comment-count" style="display: none;">0 bình luận</span> </div>
									</div>
								</div>
							</div>
							<div data-moi-nhat>
								<section ng-show="articles &amp;&amp; articles.length" ng-class="isMobile?'dt-section dt-section--gradient':'dt-section dt-section--primary dt-section--fit mt-4'" recommend-news="" class="ng-isolate-scope dt-section dt-section--primary dt-section--fit mt-4">
									<header class="dt-section__header">
										<h2 ng-class="!isMobile?'text-uppercase':''" class="dt-section__title text-uppercase"> Có thể bạn quan tâm </h2> </header>
									<div class="dt-section__body">
										<ul class="dt-list dt-list--grid dt-list--grid-3">
											<!-- ngRepeat: (index,article) in articles -->
											<li ng-repeat="(index,article) in articles" class="ng-scope">
												<div ng-class="isMobile?'news-item news-item--left2right':'news-item news-item--normal'" class="news-item news-item--normal">
													<a data-cate-id="20" class="news-item__avatar" ng-href="" ng-attr-title="{{article.title}}" href="" title="Bổ nhiệm Phó Giám đốc Sở KH-ĐT 31 tuổi: &quot;Con dân, con quan đều bình đẳng!&quot;">
														<div class="dt-thumbnail dt-thumbnail--3x2"> <img ng-src="vendor/tran-huyen-trang-1614564359831.jpeg" ng-alt="Bổ nhiệm Phó Giám đốc Sở KH-ĐT 31 tuổi: &quot;Con dân, con quan đều bình đẳng!&quot;" src="vendor/images/tran-huyen-trang-1614564359831.jpeg"> </div>
													</a>
													<div class="news-item__content">
														<h3 class="news-item__title"> <a data-utm="Article|Box_CTBQT|0" data-cate-id="20" ng-href="" ng-alt="Bổ nhiệm Phó Giám đốc Sở KH-ĐT 31 tuổi: &quot;Con dân, con quan đều bình đẳng!&quot;" class="ng-binding" href="">Bổ nhiệm Phó Giám đốc Sở KH-ĐT 31 tuổi: "Con dân, con quan đều bình đẳng!"</a> </h3> </div>
												</div>
											</li>
											<!-- end ngRepeat: (index,article) in articles -->
											<li ng-repeat="(index,article) in articles" class="ng-scope">
												<div ng-class="isMobile?'news-item news-item--left2right':'news-item news-item--normal'" class="news-item news-item--normal">
													<a data-cate-id="36" class="news-item__avatar" ng-href="" href="" title="Cử chỉ của ông Biden khi vào Nhà Trắng khiến nhân viên rơi nước mắt">
														<div class="dt-thumbnail dt-thumbnail--3x2"> <img ng-src="vendor/biden-1614590786390.jpg" ng-alt="Cử chỉ của ông Biden khi vào Nhà Trắng khiến nhân viên rơi nước mắt" src="vendor/images/biden-1614590786390.jpg"> </div>
													</a>
													<div class="news-item__content">
														<h3 class="news-item__title"> <a data-utm="Article|Box_CTBQT|1" data-cate-id="36" ng-href="" ng-alt="Cử chỉ của ông Biden khi vào Nhà Trắng khiến nhân viên rơi nước mắt" class="ng-binding" href="">Cử chỉ của ông Biden khi vào Nhà Trắng khiến nhân viên rơi nước mắt</a> </h3> </div>
												</div>
											</li>
											<!-- end ngRepeat: (index,article) in articles -->
											<li ng-repeat="(index,article) in articles" class="ng-scope">
												<div ng-class="isMobile?'news-item news-item--left2right':'news-item news-item--normal'" class="news-item news-item--normal">
													<a data-cate-id="927" class="news-item__avatar" ng-href="" ng-attr-title="{{article.title}}" href="" title="Bé gái rơi từ tầng 12A: Chuyên gia vạch lỗ hổng từ các 'tử huyệt' chung cư">
														<div class="dt-thumbnail dt-thumbnail--3x2"> <img ng-src="vendor/images/be-gai-roi-tu-tang-12-a-chuyen-gia-vach-lo-hong-tu-cac-tu-huyet-chung-cu-2-1614602556654.jpg" ng-alt="Bé gái rơi từ tầng 12A: Chuyên gia vạch lỗ hổng từ các 'tử huyệt' chung cư" src="vendor/images/be-gai-roi-tu-tang-12-a-chuyen-gia-vach-lo-hong-tu-cac-tu-huyet-chung-cu-2-1614602556654.jpg"> </div>
													</a>
													<div class="news-item__content">
														<h3 class="news-item__title"> <a data-utm="Article|Box_CTBQT|2" data-cate-id="927" ng-href="" ng-alt="Bé gái rơi từ tầng 12A: Chuyên gia vạch lỗ hổng từ các 'tử huyệt' chung cư" class="ng-binding" href="">Bé gái rơi từ tầng 12A: Chuyên gia vạch lỗ hổng từ các 'tử huyệt' chung cư</a> </h3> </div>
												</div>
											</li>
											<!-- end ngRepeat: (index,article) in articles -->
										</ul>
									</div>
								</section>
							</div>
							<div recommend-news></div>
							<div data-dtms="wss-prod" data-cat="26" data-count="3" data-type="1" data-font="1"></div>
							<div data-dang-quan-tam></div>
						</div>
			</div>
			</article>
			</div>
			<div class="col col--secondary" top-height="right">
				<div>
					<div ung-ho-box></div>
					<div id="xds-150">
						<div id="ads-iab"></div>
					</div>
				</div>
			</div>
			</div>
			<div class="dt-article-bottom-page">
				<div id="xds-158"></div>
			</div>
			<div data-custom-script="26"></div>
			<div facebook-init></div>
			<div image-preview></div>
			<div id="xds-90"></div>
			<script>
			var ggCatList = "the-thao/bong-da-chau-au";
			</script>
			</main>
			<div id="xds-4"></div>
			<footer class="dt-footer">
				<div class="dt-footer__content">
					<div class="container">
						<div class="row">
							<div class="dt-footer__info col-6">
								<p>Cơ quan của Bộ Lao động - Thương binh và Xã hội</p>
								<p>Tổng biên tập: Phạm Tuấn Anh</p>
								<p> Giấy phép hoạt động báo điện tử Dân trí số 298/GP - BTTTT Hà Nội, ngày 15-07-2020. </p>
								<p>Tòa soạn: Nhà 48, ngõ 2 Giảng Võ, Cát Linh, Đống Đa, Hà Nội</p>
								<p> Điện thoại: <a href="tel:024-3736-6491">024-3736-6491</a>. Fax: <a href="tel:024-3736-6491">024-3736-6491</a> </p>
								<p> Email: <a href="mailto:info@dantri.com.vn">info@dantri.com.vn</a>. Website: <a href="">https://www.dantri.com.vn</a> </p>
								<p> Mọi hành động sử dụng nội dung đăng tải trên Báo điện tử Dân trí tại địa chỉ www.dantri.com.vn phải có sự đồng ý bằng văn bản của Báo điện tử Dân trí. </p>
							</div>
							<div class="col-1"></div>
							<div class="dt-footer__ads col-4">
								<p class="dt-footer_ads-info"> Liên hệ quảng cáo:&nbsp;<a href="tel:0945540330">0945.54.03.03</a> </p>
								<p>Email: <a href="mailto:quangcao@dantri.com.vn">quangcao@dantri.com.vn</a></p>
								<p> <a switch-version href="javascript:void(0);"><strong>Xem bản mobile</strong></a> </p>
								<div class="dt-footer__app clearfix">
									<a aria-label="Báo Dân trí ios" title="Báo Dân trí - Dantri.com.vn" target="_blank" rel="noopener" href=""> <i class="dt-icon icon-app-store"></i> </a>
									<a aria-label="Báo Dân trí android" title="Báo Dân trí - Dantri.com.vn" target="_blank" rel="noopener" href=""> <i class="dt-icon icon-play-store"></i> </a>
								</div>
								<div class="dt-footer__social clearfix"> <span>Theo dõi Dân Trí trên:</span>
									<a target="_blank"><img src="vendor/cdnweb.dantri/bundle/static/assets/fb.png" alt="yomedia.vn"></a>
									<a target="_blank"><img src="vendor/cdnweb.dantri/bundle/static/assets/yt.png" alt="yomedia.vn"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="yomedia-destination-197">
					<iframe id="ads-balloon-popup" name="banner" src="" style="width:475px; height:330px;right:0px;bottom:0px;display:block;line-height:normal;overflow:hidden;position:fixed;z-index:2000!important;border:0;"></iframe>
					<iframe id="ads-balloon" name="banner" src="" style="width:500px; height:300px;right:0px;bottom:0px;display:block;line-height:normal;overflow:hidden;position:fixed;z-index:2000!important;border:0;"></iframe>
					<iframe id="ads-big-balloon" name="bigballoon" src="" style="width:800px; height:500px;right:0px;bottom:0px;display:block;line-height:normal;overflow:hidden;position:fixed;z-index:2000!important;border:0;"></iframe>
					<iframe id="ads-bottom-up" name="banner" style="width:1200px; height:600px;bottom:0px;display:block;line-height:normal;overflow:hidden;position:fixed;z-index:2000!important;border:0;margin-left: auto;margin-right: auto;left: 0;right: 0;clip: rect(0px 1200px 600px 0px);"></iframe>
				</div>
			</footer>
			<script src="vendor/cdnweb.dantri/bundle/static/dantri.min.js"></script>
			<script src="vendor/cdnweb.dantri/bundle/static/vdlibs~dantri.min.js"></script>
			<script src="vendor/cdnweb.dantri/bundle/static/vendors~dantri.min.js"></script>
			<script src="vendor/cdnweb.dantri/bundle/static/video_toolbar.js"></script>
			<script type="text/javascript" src="../../form/deliveries/yo-delivery.js"></script>
			<script type="text/javascript" src="../../form/resources/scripts/script_banner_pc.js"></script>
</body>		
</html>