body {
    font-family: 'Lato', sans-serif;
}

h1 {
    margin-bottom: 40px;
}

label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
}


.logo-yomedia {
    position: relative;
    width: 100px;
    height: 100%;
    margin-right: 30px;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}