.jsgallery-container {
	position: fixed;
	background-color:rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	display: none;
	z-index: 9999;
}

.jsgallery-container #jsgall_htmloverlay {
	position:absolute;
	width:100%;
	height: 70px;
	left:0;
	bottom: 0;
	color: #FFF;
}

.jsgallery-container.active {
	display: block;
}

.jsgallery-container #jsgall_imageContainer {
	text-align: center;
	white-space: nowrap;
	height: 100%;
	width: 100%;

}

.jsgallery-container #jsgall_imageContainer:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle !important;
    height: 100%;
}

.jsgallery-container #jsgall_imageContainer img#jsgallery_displayed_image {
	display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    font: 16px/1 Arial sans-serif;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 0 190px 60px #000;




}

.jsgallery-container #jsgall_imageContainer img#jsgallery_displayed_image.start_size {
opacity: 0;
}

.jsgallery-container .gallery-arrow {
	cursor: pointer;
	font-size: 70px;
	color: #FFF;
	text-shadow: 0px 0px 5px #878787;
	transition: left;
	 -webkit-transition: left 0.5s ease-in-out, right 0.5s ease-in-out; /* Safari */
    transition: left 0.5s ease-in-out, right 0.5s ease-in-out;
}

.jsgallery-container .arrow-right {
	width: 60px;
	height: 60px;
	position: absolute;
	right: 10px;
	top: 45%;
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none;

}

.jsgallery-container .arrow-left {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 20px;
	top: 45%;
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none;
}

.jsgallery-container .arrow-left.start_pos {
	left: -100px;
}

.jsgallery-container .arrow-right.start_pos {
	right: -100px;
}



.jsgallery-container .gallery-arrow.arrow-left:hover {
	border-right-color: #ccc;
	color: #ccc;
}

.jsgallery-container .gallery-arrow.arrow-right:hover {
	border-left-color: #ccc;
	color: #ccc;
}

.jsgallery-container #jsgall_close {
	position: absolute;
	height: 60px;
	width: 60px;
	top:30px;
	right: 40px;
	color: #FFF;
	font-size: 50px;
	cursor: pointer;
	text-shadow: 0px 0px 10px #878787;

}

.jsgallery-container #jsgall_close:hover {
	color: #ccc;
}

/* new */
.jsgallery-container #jsgall_imageContainer {
    padding: 80px 80px;
	padding: 6% 6%;
	padding: 80px 80px;
}
.jsgallery-container #jsgall_sideShowButton{
	position:absolute;
	z-index: 9998;
	right:90px;
	top: 20px;
    width: auto;
    height: auto;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 15px 15px;
	font-size:20px;
	opacity:1;
	color:#fff;
	cursor:pointer;
}
.jsgallery-container #jsgall_sideShowButton .jsgall_icon_play{
	opacity:0.7;
	_transition:all 0.3s ease;
	transition: none;
}
.jsgallery-container #jsgall_sideShowButton:hover .jsgall_icon_play{
	opacity:1;
}
.jsgallery-container #jsgall_close{
	position:absolute;
	z-index: 9999;
	right:40px;
	top: 20px;
    width: auto;
    height: auto;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 15px 15px;
	font-size:50px;
}
.jsgallery-container #jsgall_close .icon-close{
	opacity:0.7;
	transition:all 0.3s ease;
	transition:none;
}
.jsgallery-container #jsgall_close:hover .icon-close{
	opacity:1;
}
.jsgallery-container #jsgall_close .icon-close:before,.jsgallery-container #jsgall_close .icon-close:after{
	background:#fff;
}
.jsgallery-container .gallery-arrow{
	text-align:center;
}
.jsgallery-container #jsgall_htmloverlay{
	line-height: 1.35;
	white-space: normal;
	height: auto;
	padding-bottom:50px;
	min-height:70px;
	padding: 5px 10px;
    min-height: 0px;
    bottom: 80px;
    min-height: 80px;
    transform: translate(0, 80px);
}
.jsgallery-container #jsgall_htmloverlay *{
	margin:0;
	line-height:inherit;
}
.jsgallery-container #jsgall_htmloverlay_bot{
	bottom:0px;
	position: absolute;
	left:6px;
	right:10px;
	padding:10px 0px;
	white-space:normal;
}
.jsgallery-container #jsgall_htmloverlay_bot .div{
	float:left;padding-right:5px;
}
.jsgallery-container #jsgall_htmloverlay_top{
	position: absolute;
    _width: 100%;
    left: 40px;
	right:150px;
    top: 20px;
    color: #FFF;
	white-space: normal;
	text-align: left;
	font-size:17px;
	padding:10px 0px;
}
.jsgallery-container #jsgall_htmloverlay_top .div{
	display:inline-block;
	vertical-align:top;
	padding: 5px 5px;

}
.b-img-slider-jsgallery{
	position:relative;
	width:100%;
	cursor:pointer;
	padding: 0 !important;
	display: inline-block;
}
.b-img-slider-jsgallery .i-img-slider-jsgallery{
	padding: 0 !important;
	width:100% !important;
}
.b-img-slider-jsgallery:after {
    content: "\f0b2";
    display: inline-block;
    font: normal normal normal 14px/1;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    position: absolute;
    right: 0;
    top: 0;
    min-width: 30px;
    min-height: 30px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 6px;
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
		cursor:pointer;
}
.b-img-slider-jsgallery:hover:after{
	opacity:1;
	visibility:visible;
}
.jsgallery-container #jsgall_myProgressBar{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 99999;
	width: 100%;
}

.jsgallery-container #jsgall_myProgressBar .myProgress{
	float:left;
	width:100%;
	height: 3px;
    position: relative;
    background: none;
}
.jsgallery-container #jsgall_myProgressBar .myProgress .myBar{
    background: #4CAF50;
    width: 0px;
    height: 100%;
    position: absolute;
		left:0;
		top: 0;
}
.slider-jsgallery img{
	opacity:0;
	transition:all 0.3s ease;
	position:relative;
}
.slider-jsgallery img.i-img-slider-jsgallery{
	opacity:1;
}
/* END new */

@media(max-width:991px) {
	.jsgallery-container #jsgall_imageContainer{
		padding: 80px 50px;
	}
	.jsgallery-container #jsgall_htmloverlay{
		bottom: 80px;
		min-height: 80px;
		transform: translate(0, 80px);
		padding-left:50px;
		padding-right: 50px;
	}
	.jsgallery-container .gallery-arrow{
		width: auto;
		padding: 10px;
		height: auto;
	}
	.jsgallery-container .arrow-left{
		left:0;
	}
	.jsgallery-container .arrow-right{
		right:0;
	}
}


@media(max-width:767px) {
	.jsgallery-container #jsgall_imageContainer{
		padding: 70px 30px;
		padding-top: 95px;
	}
	.jsgallery-container #jsgall_htmloverlay{
		bottom: 70px;
		min-height: 70px;
		transform: translate(0, 70px);
		padding-left:30px;
		padding-right: 30px;
	}

	.jsgallery-container #jsgall_htmloverlay_top .div:first-child{width: 100%;padding-right: 65px;}

	.jsgallery-container #jsgall_htmloverlay_top{left:6px;right:15px;top:20px;font-size:16px;}
	.jsgallery-container #jsgall_close{
		right: 5px;
		width: 40px;
		padding: 15px 10px;
		text-align: center;
	}
	.jsgallery-container .icon-close:before,.jsgallery-container .icon-close:after{
		    width: 120%;
	}
    .jsgallery-container #jsgall_sideShowButton{
		right: 45px;
		width: 40px;
		padding: 15px 10px;
	}
	.jsgallery-container .gallery-arrow{
		width: auto;
		padding: 10px;
		height: auto;
	}
	.jsgallery-container .arrow-left{
		left:0;
		padding-left: 5px;
	}
	.jsgallery-container .arrow-right{
		right:0;
		padding-right: 5px;
	}
}
